.accordionjs {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  /* margin-top: 10px;
  margin-bottom: 20px; */
}
.accordionjs .acc_section {
  /* border: 1px solid #ccc; */
  /* border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc; */
  position: relative;
  z-index: 10;
  /* margin-top: -1px; */
  overflow: visible;
  user-select: none;
}
.acc_section:nth-child(even) .acc_head,
.acc_section:nth-child(even) {
  background-color: #f5f5f5;
}
.acc_section:nth-child(odd) .acc_head,
.acc_section:nth-child(odd) {
  background-color: #fff;
}
.accordionjs .acc_section .acc_head {
  position: relative;
  /* background: #fff; */
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px 10px;
  border-left: 6px solid #ccc;
  /* border-bottom: 1px solid #ccc;  */
  border: -1px solid transparent;
  transition-duration: 200ms;
  /* transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
.accordionjs .acc_section.acc_active > .acc_head {
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.4);
  border: -1px solid #38B2CE;
  transform: scale(1.01);
  transition-duration: 200ms;
  /* transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); */
}
.accordionjs .acc_section.acc_active > .acc_head:hover {
  border: -1px solid #38B2CE;
  border-left: 6px solid #38B2CE;
  transition-duration: 200ms;
}
.accordionjs .acc_section .acc_head:hover {
  /* border-left: 6px solid #FF7F00; */
  border: -1px solid #38B2CE;
  border-left: 6px solid #38B2CE;
  transition-duration: 200ms;
}

.accordionjs .acc_section .acc_content {
  padding: 15px 20px;
  /*  border-right: 1px solid #ccc; */
  border-left: 6px solid #ccc;
  /* border-bottom: 1px solid #ccc; */
}
/* .accordionjs .acc_section:first-of-type,
.accordionjs .acc_section:first-of-type .acc_head {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.accordionjs .acc_section:last-of-type,
.accordionjs .acc_section:last-of-type .acc_content {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
} */
.accordionjs .acc_section.acc_active > .acc_content {
  display: block;
  border-left: 6px solid #38B2CE;
}
.accordionjs .acc_section.acc_active > .acc_head {
  /* background: #F9F9F9; */
  /* border-bottom: 1px solid #ccc; */
  border-left: 6px solid #38B2CE;
}

.accordionjs .acc_section .acc_head::after {
  font-family: 'icomoon';
  color: #206676;
  content: "\e900"; 
  transition: 200ms;
  transform: rotate(90deg);
}
.accordionjs .acc_section.acc_active > .acc_head::after {
  font-family: 'icomoon';
  color: #206676;
  content: "\e900";
  transform: rotate(-90deg);
  transition: 200ms;
}
.accordionjs .acc_section .acc_head:hover::after,
.accordionjs .acc_section.acc_active > .acc_head:hover::after {
  font-size: 1.5em;
}