.gallery-otzyvy {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1.5vw;
	justify-content: center;
	width: 100%;
}
.gallery-otzyvy--column {
	display: flex;
	flex-direction: column;
}
.gallery-otzyvy--item {
	margin-bottom: 1.5vw;
}
.gallery-otzyvy--item img {
	width: 100%;
}
.gallery-otzyvy--item:last-child {
	margin-bottom: 0;
}
@media (max-width:768px) {
	.gallery-otzyvy {
		grid-template-columns: 1fr;
		grid-gap: 0;
	}
}