<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>{{text/home/title}}</title>
        <meta name="description" content="{{text/home/description}}" />
        <meta name="theme-color" content="#015367">
        <link rel="icon" sizes="192x192" href="img/logo-192x192-shahty-kz.png">
        <link rel="stylesheet" href="css/style.css" />
        <link rel="stylesheet" href="css/media.css" />
        <script src="js/jquery-1.12.4.min.js"></script>    
        <script src="js/jquery.lazy.min.js"></script>
        <script src="js/jquery.lazy.ajax.min.js"></script>

        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

        {{addons/schema-org-json}}
    <!-- <script src="js/jquery.maskedinput.js"></!--> 
</head>

<body>
    <!-- <div class="main-container"> -->
        <header>
            {{sections/header}}
        </header>
        <nav class="dws-menu">
            {{sections/nav}}
        </nav>
        {{sections/heroblock}}
        <div class="row"><div class="container">{{sections/features}}</div></div>
        <div class="row"><div class="container">{{sections/article-main}}</div></div>
        <div class="row"><div class="container">{{sections/article-main-faq}}</div></div>
        <div class="row" style="padding: 40px 0px 0px 0px;"><div class="container-fluid">
            <h2>{{text/map/heading}}</h2>
            {{sections/map-1}}</div></div>
        <div class="row" style="padding: 0px;"><div class="container-fluid">{{sections/map-2}}</div></div>
        
        <footer>{{sections/footer}}</footer>
    <!-- </div> -->

    <!-- <script src="js/jquery.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" type="text/css" href="css/jquery.jbcallme.css">
        <script src="js/jquery.jbcallme.js"></script>
        {{addons/form-popup}}
        <link rel="stylesheet" type="text/css" href="css/images-lazy.css">

        <script>
            $(function() {
                 $(".lazy").Lazy();
            });
        </script>
        
</body>
    </html>